.Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.Nav-link {
    color: grey;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 12px;
    text-decoration: none;
}

.Nav-link:hover {
    color: blue;
    text-decoration: underline;
}
button.btn.btn-sm.nightMode {
    color: #fff;
}